<manifest xmlns:android="http://schemas.android.com/apk/res/android"  
package="com.example.andriodsolved"
android:versionCode="1"
android:versionName="1.0">
<resources>
<string name="app_name">myapp</string>
</resources>
<application 
android:icon="@drawable/myappicon" 
android:label="@string/myapp">
<activity android:name=".Mainactivity"
android:label="@string/myapp">
<intent-filter>
<action android:name="android.intent.action.MAIN" />
<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
</application>
</manifest> 

Output : https://github.com/djayvok/Android-Assignment-1.2.wiki.git
